<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head(titletext)" lang="en">
        <meta charset="UTF-8" />
        <title th:text="${titletext}">Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    </head>
    <body>
        <div th:fragment="navbar">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/myprofile">MyProfile</a>
                <a class="nav-link" href="/myprofile/mywall">MyWall</a>
                <a class="nav-link" href="/find">Etsi Profiileja</a>
                <a class="nav-link" href="/logout">Logout</a>
            </nav>
        </div>
        <div>TODO write content</div>
        <div th:fragment="messages(messages)">
            <div th:each="message : ${messages}">                
                <p class="row">
                    <span class="col-2">
                        <a th:text="${message.profile.name}">Name</a>
                    </span>
                    <span class="col-1">                        
                        <a th:href="@{/profiles/{alias}(alias=${message.profile.alias})}" th:text="${message.profile.alias}">alias</a>
                    </span>
                    <span class="col-2">
                        <a th:text="${#temporals.format(message.localDateTime, 'dd-MM-yyyy HH:mm')}"></a>
                    </span>
                    <span class="col-7">
                        <a th:text="${message.text}">text</a>
                    </span>                    
                </p>
                <div th:each="messageCommentti : ${message.messageComment}">
                    <p class="row">
                        <span class="col-1">
                        </span>
                        <span class="col-2">
                            <a th:text="${messageCommentti.message.profile.name}">Name</a>
                        </span>
                        <span class="col-1">                        
                            <a th:href="@{/profiles/{alias}(alias=${messageCommentti.message.profile.alias})}" th:text="${messageCommentti.message.profile.alias}">alias</a>
                        </span>
                        <span class="col-2">
                            <a th:text="${#temporals.format(messageCommentti.localDateTime, 'dd-MM-yyyy HH:mm')}"></a>
                        </span>
                        <span class="col-6">
                            <a th:text="${messageCommentti.comment}">comment</a>
                        </span>
                    </p>
                </div>
                <div class="row">
                    <span class="col-1">
                    </span>
                    <div class="col-11">   
                        <form method="POST" th:action="@{/profiles/{alias}/messages/{id}(alias=${message.profile.alias}, id=${message.id})}">
                            <input type="text" name="comment"/>
                            <input type="submit" value="Lähetä uusi kommentti"/>
                        </form>
                    </div>
                </div>
                <p class="row">
                </p>  
            </div>
        </div>
    </body>
</html>
