<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head(titletext)" lang="en">
        <meta charset="UTF-8" />
        <title th:text="${titletext}">Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <style type="text/css">
            .h-divider{
                margin-top:5px;
                margin-bottom:5px;
                height:1px;
                width:100%;
                border-top: 1px solid #ccc;
            }
            .customborder{
                display: block;
                width: 100%;
                padding: 6px 12px;
                color: #555;
                background-color: #fff;
                background-image: none;
                border: 1px solid #ccc;
                border-radius: 4px;
            }
            H5 {display: inline;}
            H6 {color: green}
            .thumbnail img {
                height:64px;
                object-fit: contain;
            }                
        </style>
    </head>
    <body>
        <div th:fragment="navbar(currentProfile)">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/profiles">Community</a>
                <a class="nav-link" href="/profiles">Etsi</a>
                <a class="nav-link" href="/mywall">Seinäni</a>
                <a class="nav-link" href="/mymessages">Viestini</a>
                <a class="nav-link" href="/mypictures">Kuvani</a>
                <a class="nav-link" href="/mysettings">Profiiliasetukseni</a>                
                (Olet kirjautunut tunnuksella&nbsp;<a th:text="${currentProfile.name}">Name</a><a>&nbsp;-&nbsp;</a>
                <a th:text="${currentProfile.alias}">Alias</a>)
                <a class="nav-link" href="/logout">Logout</a>
            </nav>
        </div>
        <div th:fragment="navbarcreateaccount(noprofile)">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/createnewaccount">Community</a>
                <a th:text="${noprofile}">text</a>
                <a class="nav-link" href="/login">Login</a>
            </nav>
        </div>
        <div>TODO write content</div>
        <div th:fragment="picturesfragment(allpictures, picturesforpersonlikes, redirectvalue, redirectcurrentprofile)">
            <div th:each="picture : ${allpictures}">
                <div class="customborder">
                    <div class="media">
                        <a class="mr-3">
                            <div class="thumbnail">
                                <img th:src="@{/profiles/{alias}/pictures/{pictureid}(alias=${picture.profile.alias},pictureid=${picture.profile.profilePicture.fileobject.id})}" alt="${picture.profile.profilePicture.fileobject.filename}" class="rounded-circle"></img>
                            </div>
                        </a>
                        <div class="media-body">
                            <h5 class="mt-0" th:text="${picture.profile.name}">Name</h5>
                            <a th:href="@{/profiles/{alias}(alias=${picture.profile.alias})}" th:text="${picture.profile.alias}">alias</a>
                            <a th:text="${#temporals.format(picture.localDateTime, 'dd-MM-yyyy HH:mm')}"></a>
                            <p th:text="${picture.description}">description</p>
                            <img th:src="@{/profiles/{alias}/pictures/{pictureid}(alias=${picture.profile.alias},pictureid=${picture.id})}" alt="${picture.filename}"></img>
                            <div th:if="${redirectvalue == 'mypictures'}">
                                <div th:if="${redirectcurrentprofile == picture.profile}">
                                    <form method="POST" th:action="@{/profiles/{alias}/setprofilepicture/{picid}(alias=${picture.profile.alias}, picid=${picture.id})}">
                                        <input type="hidden" name="redirect" th:value="${redirectvalue}"/>
                                        <input type="hidden" name="aliastoredirect" th:value="${picture.profile.alias}"/>
                                        <input type="submit" class="btn btn-info" value="Aseta profiilikuvaksi"/>
                                    </form>
                                    <div th:unless="${deletepicture}">
                                        <form method="POST" th:action="@{/profiles/{alias}/deletepicture/{picid}(alias=${picture.profile.alias}, picid=${picture.id})}">
                                            <input type="hidden" name="redirect" th:value="${redirectvalue}"/>
                                            <input type="hidden" name="aliastoredirect" th:value="${picture.profile.alias}"/>
                                            <input type="submit" class="btn btn-warning" value="Poista kuva"/>
                                        </form>
                                    </div>
                                    <div th:if="${deletepicture}">
                                        <div th:if="${deletepictureid == picture.id}">
                                            <div th:text="${deletepicture}" th:class="${'alert ' + deletepictureAlertClass}"/>
                                            <form method="POST" th:action="@{/profiles/{alias}/deletepicturereally/{picid}(alias=${picture.profile.alias}, picid=${picture.id})}">
                                                <input type="hidden" name="redirect" th:value="${redirectvalue}"/>
                                                <input type="hidden" name="aliastoredirect" th:value="${picture.profile.alias}"/>
                                                <input type="submit" class="btn btn-danger" value="Poista kuva lopullisesti"/>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h6>
                                <div th:unless="${#lists.contains(picturesforpersonlikes, picture)}">
                                    <div th:unless="${redirectcurrentprofile == picture.profile}">
                                        <form method="POST" th:action="@{/profiles/{alias}/pictures/{id}/like(alias=${picture.profile.alias}, id=${picture.id})}">
                                            <input type="hidden" name="redirect" th:value="${redirectvalue}"/>
                                            <input type="hidden" name="aliastoredirect" th:value="${picture.profile.alias}"/>
                                            <input type="submit" class="btn btn-success" value="Tykkää kuvasta"/>
                                        </form>
                                    </div>
                                </div>
                                <span th:text="${#lists.size(picture.fileObjectLike)}">likes</span>
                                <a> tykkää tästä kuvasta</a>
                            </h6>
                            <form method="POST" th:action="@{/profiles/{alias}/commentpicture/{id}(alias=${picture.profile.alias}, id=${picture.id})}">
                                <input type="hidden" name="redirect" th:value="${redirectvalue}"/>
                                <input type="hidden" name="aliastoredirect" th:value="${picture.profile.alias}"/>
                                <div class="form-group">
                                    <input type="text" name="comment" class="form-control" placeholder="Kommentoi kuvaa" id="comment"></input>
                                </div>
                                <input type="submit" class="btn btn-primary" value="Lähetä kommentti"/>
                            </form>
                            <div class="media mt-3" th:each="pictureCommentti : ${picture.fileObjectComment}">
                                <a class="mr-3">
                                    <div class="thumbnail">
                                        <img th:src="@{/profiles/{alias}/pictures/{pictureid}(alias=${pictureCommentti.profile.alias},pictureid=${pictureCommentti.profile.profilePicture.fileobject.id})}" alt="${pictureCommentti.profile.profilePicture.fileobject.filename}" class="rounded-circle"></img>
                                    </div>
                                </a>
                                <div class="media-body">
                                    <h5 class="mt-0" th:text="${pictureCommentti.profile.name}">Name</h5>
                                    <a th:href="@{/profiles/{alias}(alias=${pictureCommentti.profile.alias})}" th:text="${pictureCommentti.profile.alias}">alias</a>
                                    <a th:text="${#temporals.format(pictureCommentti.localDateTime, 'dd-MM-yyyy HH:mm')}"></a>
                                    <p th:text="${pictureCommentti.comment}">comment</p>
                                </div>
                            </div> 
                        </div>
                    </div>                 
                </div>
            </div>
        </div>
        <div th:fragment="messagesfragment(allmessages, messagesforpersonlikes, redirectvalue, redirectcurrentprofile)">
            <div th:each="message : ${allmessages}">
                <div class="customborder">
                    <div class="media">
                        <a class="mr-3">
                            <div class="thumbnail">
                                <img th:src="@{/profiles/{alias}/pictures/{pictureid}(alias=${message.profile.alias},pictureid=${message.profile.profilePicture.fileobject.id})}" alt="${message.profile.profilePicture.fileobject.filename}" class="rounded-circle"></img>
                            </div>
                        </a>
                        <div class="media-body">
                            <h5 class="mt-0" th:text="${message.profile.name}">Name</h5>
                            <a th:href="@{/profiles/{alias}(alias=${message.profile.alias})}" th:text="${message.profile.alias}">alias</a>
                            <a th:text="${#temporals.format(message.localDateTime, 'dd-MM-yyyy HH:mm')}"></a>
                            <p th:text="${message.text}">text</p>
                            <h6>
                                <div th:unless="${#lists.contains(messagesforpersonlikes, message)}">
                                    <div th:unless="${redirectcurrentprofile == message.profile}">
                                        <form method="POST" th:action="@{/profiles/{alias}/messages/{id}/like(alias=${message.profile.alias}, id=${message.id})}">
                                            <input type="hidden" name="redirect" th:value="${redirectvalue}"/>
                                            <input type="hidden" name="aliastoredirect" th:value="${message.profile.alias}"/>
                                            <input type="submit" class="btn btn-success" value="Tykkää viestistä"/>
                                        </form>
                                    </div>
                                </div>
                                <span th:text="${#lists.size(message.messageLike)}">likes</span>
                                <a> tykkää tästä viestistä</a>
                            </h6>                            
                            <form method="POST" th:action="@{/profiles/{alias}/messages/{id}/comment(alias=${message.profile.alias}, id=${message.id})}">
                                <input type="hidden" name="redirect" th:value="${redirectvalue}"/>
                                <input type="hidden" name="aliastoredirect" th:value="${message.profile.alias}"/>
                                <div class="form-group">
                                    <input type="text" name="comment" class="form-control" placeholder="Kirjoita kommentti" id="comment"></input>
                                </div>
                                <input type="submit" class="btn btn-primary" value="Lähetä uusi kommentti"/>
                            </form>

                            <div class="media mt-3" th:each="messageCommentti : ${message.messageComment}">
                                <a class="mr-3">
                                    <div class="thumbnail">
                                        <img th:src="@{/profiles/{alias}/pictures/{pictureid}(alias=${messageCommentti.profile.alias},pictureid=${messageCommentti.profile.profilePicture.fileobject.id})}" alt="${messageCommentti.profile.profilePicture.fileobject.filename}" class="rounded-circle"></img>
                                    </div>
                                </a>
                                <div class="media-body">
                                    <h5 class="mt-0" th:text="${messageCommentti.profile.name}">Name</h5>
                                    <a th:href="@{/profiles/{alias}(alias=${messageCommentti.profile.alias})}" th:text="${messageCommentti.profile.alias}">alias</a>
                                    <a th:text="${#temporals.format(messageCommentti.localDateTime, 'dd-MM-yyyy HH:mm')}"></a>
                                    <p th:text="${messageCommentti.comment}">comment</p>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </body>
</html>
