<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(titletext='Community')">
        <meta charset="UTF-8" />
        <title>Title</title>
    </head>
    <body>
        <main>            
            <section class="container">
                <h3>Lisää oletuskuva</h3>
                <form th:action="@{/defaultfiles/defaultpicture}" method="POST" enctype="multipart/form-data">
                    <input type="file" name="file"/>
                    <div class="form-group">
                        <input type="text" name="text" class="form-control" placeholder="Kerro kuvasta" id="text"></input>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Lähetä kuva"/>
                </form>
            </section>
        </main>
    </body>
</html>
