<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(titletext='Community')">
        <meta charset="UTF-8" />
        <title>Title</title>
    </head>
    <body>        
        <div th:replace="fragments/layout :: navbar(currentProfile=${currentProfile})"></div>
        <header class="container">
            <div class="media">
                <a class="mr-3">
                    <div class="thumbnail">
                        <img th:src="@{/profiles/{alias}/pictures/{pictureid}(alias=${showProfile.alias},pictureid=${showProfile.profilePicture.fileobject.id})}" alt="${showProfile.profilePicture.fileobject.filename}" class="rounded-circle"></img>
                    </div>
                </a>
                <div class="media-body">
                    <header class="container">
                        <h1 class="mt-0" th:text="${profileheader}">Header</h1>
                    </header>
                </div>                
            </div>
        </header>
        
        <main>
            <section class="container">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <h3>Viestit</h3>
                        <div th:replace="fragments/layout :: messagesfragment(allmessages=${messages}, messagesforpersonlikes=${messagesforpersonlikes}, redirectvalue=profile, redirectcurrentprofile=${currentProfile}, followedProfiles=${followedProfiles})"></div>
                    </div>
                    <div class="col-md-6 form-group">
                        <h3>Kuvat</h3>
                        <div th:replace="fragments/layout :: picturesfragment(allpictures=${pictures}, picturesforpersonlikes=${picturesforpersonlikes}, redirectvalue=profile, redirectcurrentprofile=${currentProfile}, followedProfiles=${followedProfiles})"></div>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>
